/* app css stylesheet */


.mixtape-banner {
    width: 100%;
    height: 500px;
}

.song-banner {
    width: 100%;
    height: 500px;
}

.article-banner{ 
	width: 50%;
	height: 400px;
	align: right;
 }

/*black background, gold text theming*/

.container {
    background-color: black;
}

html,
body {
    background-color: black;
    height: 100%
}

.navbar-nav .nav-link {
    color: white;
}

p {
    color: rgb(171, 158, 94);
    /*gold text*/
}

h3 {
    color: rgb(171, 158, 94);
}

a {
    color: white;
}



.card-group {
    background-color: black;
}

.card-title {
    background-color: black;
    color: rgb(171, 158, 94);
    /*gold text*/
}

.card-block {
    background-color: black;
}

.card {
    background-color: black;
}

.label {
    color: rgb(171, 158, 94);
}

.form-control {
    color: rgb(171, 158, 94);
}

.submit{ 
	color: rgb(171, 158, 94);
 }

 .form{ 
	background-color: white; 
  }
