/* app css stylesheet */

.mixtape-banner {
    width: 100%;
    height: 500px;
}

.song-banner {
    width: 100%;
    height: 500px;
}

.article-banner {
    align: right;
}


/*black background, gold text theming*/

.nav-link {
    color: rgb(171, 158, 94);
}

a:hover {
    color: white;
}

a:active {
    color: white;
}


.card-group {}

.card-title .article-title {
    /*gold text*/
    text-align: center;
}

.card-img-overlay {
    text-align: bottom;
}

.card-block {}

.card {}

.label {
    color: rgb(171, 158, 94);
    padding-left: 20px;
}

.form-control {
    color: rgb(171, 158, 94);
}

.submit {
    color: rgb(171, 158, 94);
}

.card-header {
    color: rgb(171, 158, 94);
}

.card-footer {
    color: rgb(171, 158, 94);
}

img {
    padding-right: 10px;
}

.card-block {}

.preview {
    border-bottom: 1px solid;
    border-bottom-color: rgb(171, 158, 94);
    color: rgb(171, 158, 94);
}

.card-header {
    border-bottom: 1px solid;
    border-bottom-color: rgb(171, 158, 94);
}

.about {
    color: rgb(171, 158, 94);
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
}
