<div class="card">
    <img  class="article-banner" aligh="right" src="{{vm.mainArticle.img}}" alt="Card image cap" >
    <div class="card-block">
        <h4 class="card-title">{{vm.mainArticle.title}}</h4>
        <p class="card-text">{{vm.mainArticle.preview}}</p>
        <a ui-sref="articles({articleId : vm.mainArticle.id })">read more</a>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <h4 class="card-title"> latest songs</h4>
        <div class="card-block" ng-repeat="song in vm.songs">
            <a ui-sref="songs({songId : {{song.id}} })">
                <img class="card-img-top" src="{{song.img}}" alt="Card image cap" height="100" width="100">
            </a>
            <p class="card-text"> {{song.title}}, {{song.artist}}</p>
            <p class="card-text"><small class="text-muted">{{song.lastUpdated}}</small></p>
        </div>
    </div>
    <div class="card">
        <h4 class="card-title">latest articles</h4>
        <div class="card-block" ng-repeat="article in vm.articles">
            <h4 class="card-title">{{article.title}}</h4>
            <p class="card-text">{{article.preview}}</p>
            <a ui-sref="articles({articleId : {{article.id}} })">read more</a>
            <p class="card-text"><small class="text-muted"> {{article.lastUpdated}}</small></p>
        </div>
    </div>
    <div class="card">
        <h4 class="card-title">latest mixtapes</h4>
        <div class="card-block" ng-repeat="mixtape in vm.mixtapes">
            <a ui-sref="mixtapes({mixtapeId : {{mixtape.id}} })">
                <img class="card-img-top" src="{{mixtape.img}}" alt="Card image cap" height="200" width="200">
            </a>
            <p class="card-text"><small class="text-muted">{{mixtape.lastUpdated}}</small></p>
        </div>
    </div>
</div>
